
.unotes/*
/benchmark/__pycache__
benchmark/AJIMEE-Bench
benchmark/evaluation_items.json
benchmark/venv/
.claude/settings.local.json
memo.txt
.\#memo.txt
images/sumibi-demo-switch-model.mov
images/sumibi-demo.mov
